<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="QmU7HxVQgR7Y6kFA9pFybCxIpewKi6WgL63Dx9vQ">

    <title>SwiftXchange | Account Transactions History</title>
    <link rel="icon" href="https://coinagestun.net/cloud/app/images/ahwg.jpg" type="image/png"/>

	<!-- Fonts and icons -->
<script src="https://bipbitcoin.com/mining/dash/js/plugin/webfont/webfont.min.js"></script><!-- Sweet Alert -->
<script src="https://ac.coinagestun.net/dash/js/plugin/sweetalert/sweetalert.min.js "></script>
	<!-- CSS Files -->
	<link rel="stylesheet" href="https://bipbitcoin.com/mining/dash/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bipbitcoin.com/mining/dash/css/fonts.min.css">
	<link rel="stylesheet" href="https://bipbitcoin.com/mining/dash/css/atlantis.min.css">
	<link rel="stylesheet" href="https://bipbitcoin.com/mining/dash/css/customs.css">
	<link rel="stylesheet" href="https://bipbitcoin.com/mining/dash/css/style.css">
	<link rel="stylesheet" href="https://bipbitcoin.com/mining/dash/css/atlantis.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
</head>
<body data-background-color="dark">
  


    <header><h1>verification Email Sent! </h1></header>

    <section class="container">
    <p>Please verify your email address so as to gain full access to our services</p>
			
</section>

		

			

		<!-- Subscription Payment modal -->
			
			
			
		
	
			<footer class="footer bg-dark text-light">             
                        <div class="row copyright text-center text-align-center">
                            <p>All Rights Reserved &copy; SwiftXchange 2015</p>
                        </div>
                </footer>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
	<script src="https://ac.coinagestun.net/dash/js/core/jquery.3.2.1.min.js "></script>
	<script src="https://ac.coinagestun.net/dash/js/core/popper.min.js"></script>
	<script src="https://ac.coinagestun.net/dash/js/core/bootstrap.min.js "></script>
	<script src="https://ac.coinagestun.net/dash/js/customs.js"></script>
	
	<!-- jQuery UI -->
	<script src="https://ac.coinagestun.net/dash/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="https://ac.coinagestun.net/dash/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="https://ac.coinagestun.net/dash/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js "></script>

	<!-- jQuery Sparkline -->
	<script src="https://ac.coinagestun.net/dash/js/plugin/jquery.sparkline/jquery.sparkline.min.js "></script>

	<!-- Sweet Alert -->
	<script src="https://ac.coinagestun.net/dash/js/plugin/sweetalert/sweetalert.min.js "></script>
	<!-- Bootstrap Notify -->
	<script src="https://ac.coinagestun.net/dash/js/plugin/bootstrap-notify/bootstrap-notify.min.js "></script>
	
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.js"></script>

	<!-- Atlantis JS -->
	<script src="https://ac.coinagestun.net/dash/js/atlantis.min.js"></script>
	<script src="https://ac.coinagestun.net/dash/js/atlantis.js"></script>
	<script type="text/javascript">
		var badWords = [ 
			'<!--Start of Tawk.to Script-->',
			'<script type="text/javascript">', 
			'<!--End of Tawk.to Script-->'
					];
		$(':input').on('blur', function(){
			var value = $(this).val();
			$.each(badWords, function(idx, word){
			value = value.replace(word, '');
			});
			$(this).val( value);
		});
	</script>
	 <script>
		$(document).ready( function () {
			$('#ShipTable').DataTable({
				order: [ [0, 'desc'] ]
			});
			$(".dataTables_length select").addClass("bg-dark text-light");
			$(".dataTables_filter input").addClass("bg-dark text-light");
		} );
	</script>
	<script>
		$(document).ready( function () {
			$('.UserTable').DataTable({
				order: [ [0, 'desc'] ]
			});
			$(".dataTables_length select").addClass("bg-dark text-light");
			$(".dataTables_filter input").addClass("bg-dark text-light");
		} );
	</script>
	
</body>
</html>