<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="QmU7HxVQgR7Y6kFA9pFybCxIpewKi6WgL63Dx9vQ">

    <title>SwiftXchange | Account Transactions History</title>
    <link rel="icon" href="https://coinagestun.net/cloud/app/images/ahwg.jpg" type="image/png"/>

	<!-- Fonts and icons -->
<script src="https://bipbitcoin.com/mining/dash/js/plugin/webfont/webfont.min.js"></script><!-- Sweet Alert -->
<script src="https://ac.coinagestun.net/dash/js/plugin/sweetalert/sweetalert.min.js "></script>
	<!-- CSS Files -->
	<link rel="stylesheet" href="https://ac.coinagestun.net/dash/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://ac.coinagestun.net/dash/css/fonts.min.css">
	<link rel="stylesheet" href="https://ac.coinagestun.net/dash/css/atlantis.min.css">
	<link rel="stylesheet" href="https://ac.coinagestun.net/dash/css/customs.css">
	<link rel="stylesheet" href="https://ac.coinagestun.net/dash/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
</head>
<body data-background-color="dark">
  


    <header><h1>verification Successful! </h1></header>

    <section class="container" style="min-height: 600px;">
    
        <header><h1>verification Successful! </h1></header>
</section>

